[tool.poetry]
name = "ezmsg"
version = "3.3.4"
description = "A simple DAG-based computation model"
authors = [
  "Milsap, Griffin <griffin.milsap@gmail.com>",
  "Peranich, Preston <pperanich@gmail.com>",
]
license = "MIT"
readme = "README.md"
packages = [{ include = "ezmsg", from = "src" }]
classifiers = [
  "Programming Language :: Python :: 3",
  "Operating System :: OS Independent",
]

[tool.poetry.scripts]
ezmsg = "ezmsg.core.command:cmdline"

[tool.poetry.dependencies]
python = "^3.8"
typing-extensions = "^4.9.0"
ezmsg-sigproc = { version = "*", source = "pypi", optional = true }
ezmsg-websocket = { version = "*", source = "pypi", optional = true }
ezmsg-zmq = { version = "*", source = "pypi", optional = true }
ezmsg-vispy = { version = "*", source = "pypi", optional = true }
ezmsg-panel = { git = "https://github.com/griffinmilsap/ezmsg-panel.git", rev = "main", optional = true }
ezmsg-blackrock = { python = "^3.9", git = "https://github.com/CerebusOSS/ezmsg-blackrock.git", rev = "main", optional = true }
ezmsg-unicorn = { git = "https://github.com/griffinmilsap/ezmsg-unicorn.git", rev = "main", optional = true }
ezmsg-gadget = { git = "https://github.com/griffinmilsap/ezmsg-gadget.git", rev = "main", optional = true }
ezmsg-openbci = { git = "https://github.com/griffinmilsap/ezmsg-openbci.git", rev = "main", optional = true }
ezmsg-ssvep = { git = "https://github.com/griffinmilsap/ezmsg-ssvep.git", rev = "main", optional = true }


[tool.poetry.group.test.dependencies]
pytest = "^7.0.0"
pytest-asyncio = "*"
pytest-cov = "*"
numpy = "^1.24.2"
flake8 = "*"

[tool.poetry.extras]
sigproc = ["ezmsg-sigproc"]
websocket = ["ezmsg-websocket"]
zmq = ["ezmsg-zmq"]
panel = ["ezmsg-panel"]
blackrock = ["ezmsg-blackrock"]
unicorn = ["ezmsg-unicorn"]
gadget = ["ezmsg-gadget"]
openbci = ["ezmsg-openbci"]
ssvep = ["ezmsg-ssvep"]
vispy = ["ezmsg-vispy"]
all_ext = [
  "ezmsg-sigproc",
  "ezmsg-websocket",
  "ezmsg-zmq",
  "ezmsg-panel",
  "ezmsg-blackrock",
  "ezmsg-unicorn",
  "ezmsg-gadget",
  "ezmsg-openbci",
  "ezmsg-ssvep",
  "ezmsg-vispy",
]

[tool.pytest.ini_options]
addopts = ["--import-mode=importlib"]
pythonpath = ["src", "tests"]
testpaths = "tests"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
