[project]
name = "ezmsg"
version = "3.4.1"
description = "A simple DAG-based computation model"
authors = [
  { name = "Griffin Milsap", email = "griffin.milsap@gmail.com" },
  { name = "Preston Peranich", email = "pperanich@gmail.com" },
  { name = "Chadwick Boulay", email = "chadwick.boulay@gmail.com" },
]
license = "MIT"
readme = "README.md"
classifiers = [
  "Programming Language :: Python :: 3",
  "Operating System :: OS Independent",
]
requires-python = ">=3.8"
dependencies = ["typing-extensions >= 4.9.0"]

[project.optional-dependencies]
test = [
  "pytest>=7.0.0",
  "numpy>=1.24.2",
  "pytest-asyncio>=0.23.8",
  "pytest-cov>=5.0.0",
  "flake8>=5.0.4",
]
docs = ["sphinx<=7.2", "sphinx-rtd-theme==2.0.0", "ezmsg-sigproc>=1.2.3"]


[project.scripts]
ezmsg = "ezmsg.core.command:cmdline"

[tool.pytest.ini_options]
addopts = ["--import-mode=importlib"]
pythonpath = ["src", "tests"]
testpaths = "tests"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.uv]
dev-dependencies = []

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.targets.wheel]
packages = ["src/ezmsg"]

[tool.hatch.build.hooks.version]
path = "src/ezmsg/core/__init__.py"
pattern = true
